body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}
h1 {
    font-family: "Give You Glory", cursive;
    font-size: 5.625rem;
    width: 50%;
    margin: 0 auto;

}
p {
    font-family: "Nunito", sans-serif;
}